<div class="row">
  <div class="col-xs-12">
    <form action="" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" [disabled]="!recipeForm.valid" class="btn btn-success">Save</button>
          <button class="btn btn-danger" (click)="onCancel()" >Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" formControlName="name" >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagemPath">Imagem Path</label>
            <input type="text" name="imagemPath" id="imagemPath" class="form-control" formControlName="imagePath" #imagePath>
          </div>
        </div>
      </div>
      <div class="row" >
          <div class="col-xs-12">
            <img [src]="imagePath.value" class="img-responsive" >
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="Description">Description</label>
                <textarea type="text" name="Description"  class="form-control" formControlName="description"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12" formArrayName="ingredients">
                <div class="row"
                *ngFor="let ingredientControl of recipeForm.get('ingredients').controls; let i = index"
                [formGroupName]="i" style="margin-top: 8px">
                  <div class="col-xs-8">
                    <input type="text" name="" id="" class="form-control" formControlName="name">
                  </div>
                  <div class="col-xs-2">
                    <input type="number"  class="form-control" name="" id="" formControlName="amount">
                  </div>
                  <div class="col-xs-2">
                    <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-xs-12">
                    <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
                  </div>
                </div>
              </div>
            </div>
    </form>
  </div>
</div>
